.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/1.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 804px;
}

.u-section-1-1 .u-text-1 {
  font-size: 5.625rem;
  text-shadow: 2px 2px 8px rgba(254,1,142,0.65);
  font-family: earthorbiter;
  font-weight: normal;
  animation-duration: 1000ms;
  margin: 274px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.52941rem;
    width: auto;
    margin-top: 170px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 14px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 32px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/2.png");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 804px;
}

.u-section-1-2 .u-text-1 {
  font-size: 5.625rem;
  text-shadow: 2px 2px 8px rgba(254,1,142,0.65);
  font-family: earthorbiter;
  font-weight: normal;
  animation-duration: 1000ms;
  margin: 274px auto 0;
}

.u-section-1-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 4.47059rem;
    width: auto;
    margin-top: 170px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 14px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 32px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/3.png");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 804px;
}

.u-section-1-3 .u-text-1 {
  font-size: 5.625rem;
  text-shadow: 2px 2px 8px rgba(254,1,142,0.65);
  font-family: earthorbiter;
  font-weight: normal;
  animation-duration: 1000ms;
  margin: 274px auto 0;
}

.u-section-1-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-1-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 4.47059rem;
    margin-top: 170px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 14px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 32px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/4.png");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 804px;
}

.u-section-1-4 .u-text-1 {
  font-size: 5.625rem;
  text-shadow: 2px 2px 8px rgba(254,1,142,0.65);
  font-family: earthorbiter;
  font-weight: normal;
  animation-duration: 1000ms;
  margin: 274px auto 0;
}

.u-section-1-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-1-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  border-style: none;
  font-weight: 700;
  font-family: arcade;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1-4 .u-text-1 {
    margin-top: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 4.47059rem;
    width: auto;
    margin-top: 170px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 1rem;
    margin-top: 14px;
  }

  .u-section-1-4 .u-btn-1 {
    margin-top: 32px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 0.75rem;
  }
}.u-block-9445-8 {
  position: absolute;
  top: auto;
  bottom: 33px;
}

.u-block-9445-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-block-9445-10 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-block-9445-9 {
    width: 41px;
    height: 41px;
    left: calc(((100% - 940px) / 2)  + -41px);
    position: absolute;
    right: auto;
  }

  .u-block-9445-10 {
    width: 41px;
    height: 41px;
    left: auto;
    right: calc(((100% - 940px) / 2)  + -41px);
    position: absolute;
  }
}

@media (max-width: 991px) {
  .u-block-9445-9 {
    left: calc(((100% - 720px) / 2)  + -31px);
  }

  .u-block-9445-10 {
    right: calc(((100% - 720px) / 2)  + -31px);
  }
}

@media (max-width: 767px) {
  .u-block-9445-9 {
    left: calc(((100% - 540px) / 2)  + -23px);
  }

  .u-block-9445-10 {
    right: calc(((100% - 540px) / 2)  + -23px);
  }
}

@media (max-width: 575px) {
  .u-block-9445-9 {
    left: calc(((100% - 340px) / 2)  + -14px);
  }

  .u-block-9445-10 {
    right: calc(((100% - 340px) / 2)  + -14px);
  }
}.u-section-2 {
  background-image: none;
  min-height: 614px;
}

.u-section-2 .u-image-1 {
  width: 461px;
  height: 589px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -165px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 772px;
  min-height: 471px;
  margin: -379px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-family: earthorbiter;
  font-weight: normal;
  margin: 12px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: arcade;
  font-size: 2.25rem;
  font-weight: 400;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,199,255,0.4);
  margin: 8px 0 0;
}

.u-section-2 .u-line-1 {
  width: 440px;
  height: 11px;
  transform-origin: left center 0px;
  border-style: dotted;
  margin: 16px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  border-style: none;
  margin: 33px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 437px;
  }

  .u-section-2 .u-image-1 {
    width: 325px;
    height: 437px;
    margin-top: -67px;
  }

  .u-section-2 .u-group-1 {
    width: 678px;
    min-height: 460px;
    margin-top: -362px;
    margin-bottom: 28px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    text-transform: uppercase;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    font-weight: 700;
  }

  .u-section-2 .u-line-1 {
    width: 430px;
  }

  .u-section-2 .u-btn-1 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 663px;
  }

  .u-section-2 .u-image-1 {
    width: 310px;
    height: 548px;
    margin-top: -135px;
  }

  .u-section-2 .u-group-1 {
    width: 460px;
    min-height: 558px;
    margin-top: -413px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-line-1 {
    width: 398px;
    margin-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 352px;
    height: 514px;
  }

  .u-section-2 .u-group-1 {
    width: 443px;
    min-height: 542px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-line-1 {
    width: 385px;
    margin-right: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 459px;
  }

  .u-section-2 .u-image-1 {
    width: 330px;
    height: 589px;
  }

  .u-section-2 .u-group-1 {
    min-height: 638px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 600;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 15px;
  }

  .u-section-2 .u-line-1 {
    width: 291px;
    margin-top: 23px;
    margin-right: 37px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 154px;
  }
}.u-section-3 {
  background-image: url("images/bggradient.jpg");
  min-height: 802px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 145px auto 0;
}

.u-section-3 .u-image-1 {
  min-height: 465px;
  background-image: url("images/1.png");
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 200px;
  height: 201px;
  margin: 40px -19px 0;
}

.u-section-3 .u-image-3 {
  background-image: url("images/1.png");
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 200px;
  height: 201px;
  margin: 40px -19px 0;
}

.u-section-3 .u-image-5 {
  min-height: 465px;
  background-image: url("images/1.png");
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-image-6 {
  width: 200px;
  height: 201px;
  margin: 40px -19px 0;
}

.u-section-3 .u-image-7 {
  min-height: 465px;
  background-image: url("images/1.png");
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-image-8 {
  width: 200px;
  height: 201px;
  margin: 40px -19px 0;
}

.u-section-3 .u-image-9 {
  min-height: 465px;
  background-image: url("images/1.png");
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-image-10 {
  width: 200px;
  height: 201px;
  margin: 40px -19px 0;
}

.u-section-3 .u-image-11 {
  width: 329px;
  height: 382px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  margin: -769px auto 0 0;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-family: earthorbiter;
  font-weight: normal;
  margin: -191px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 940px);
}

.u-section-3 .u-line-1 {
  width: 479px;
  height: 11px;
  transform-origin: right center 0px;
  border-style: dotted;
  margin: 63px calc(((100% - 1140px) / 2) + -1px) 0 auto;
}

.u-section-3 .u-text-2 {
  font-family: arcade;
  font-size: 2.25rem;
  font-weight: 400;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,199,255,0.4);
  margin: -67px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 684px);
}

.u-section-3 .u-layout-wrap-2 {
  width: 1140px;
  margin: 528px auto 32px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 144px;
}

.u-section-3 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  font-size: 1.17647rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 144px;
}

.u-section-3 .u-container-layout-7 {
  padding-bottom: 0;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-size: 1.17647rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 144px;
}

.u-section-3 .u-container-layout-8 {
  padding-bottom: 0;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  font-size: 1.17647rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 144px;
}

.u-section-3 .u-container-layout-9 {
  padding-bottom: 0;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  font-size: 1.17647rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 50vw;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 138px;
  }

  .u-section-3 .u-image-1 {
    min-height: 383px;
  }

  .u-section-3 .u-image-2 {
    width: 160px;
    height: 161px;
    margin-top: 35px;
  }

  .u-section-3 .u-image-3 {
    min-height: 383px;
  }

  .u-section-3 .u-image-4 {
    width: 160px;
    height: 161px;
    margin-top: 35px;
  }

  .u-section-3 .u-image-5 {
    min-height: 383px;
  }

  .u-section-3 .u-image-6 {
    width: 157px;
    height: 158px;
    margin-top: 35px;
    margin-left: -17px;
    margin-right: -17px;
  }

  .u-section-3 .u-image-7 {
    min-height: 383px;
  }

  .u-section-3 .u-image-8 {
    width: 158px;
    height: 160px;
    margin-top: 36px;
    margin-left: -18px;
    margin-right: -18px;
  }

  .u-section-3 .u-image-9 {
    min-height: 383px;
  }

  .u-section-3 .u-image-10 {
    width: 153px;
    height: 154px;
    margin-top: 35px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .u-section-3 .u-image-11 {
    width: 198px;
    height: 218px;
    margin-top: -550px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -158px;
    margin-right: calc(((100% - 940px) / 2) + 1px);
    margin-left: calc(((100% - 940px) / 2) + 739px);
  }

  .u-section-3 .u-line-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 1px);
    margin-left: calc(((100% - 940px) / 2) + 483px);
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 940px;
    margin-top: 434px;
    margin-bottom: 40px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 112px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 112px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 112px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 112px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 609px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 161px;
  }

  .u-section-3 .u-image-1 {
    min-height: 293px;
  }

  .u-section-3 .u-image-2 {
    width: 105px;
    height: 106px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-3 .u-image-3 {
    min-height: 293px;
  }

  .u-section-3 .u-image-4 {
    width: 105px;
    height: 106px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-3 .u-image-5 {
    min-height: 293px;
  }

  .u-section-3 .u-image-6 {
    width: 105px;
    height: 106px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-3 .u-image-7 {
    min-height: 293px;
  }

  .u-section-3 .u-image-8 {
    width: 105px;
    height: 106px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-3 .u-image-9 {
    min-height: 293px;
  }

  .u-section-3 .u-image-10 {
    width: 105px;
    height: 106px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-3 .u-image-11 {
    width: 207px;
    height: 233px;
    margin-top: -540px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -117px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 520px);
  }

  .u-section-3 .u-line-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 264px);
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 720px;
    margin-top: 369px;
    margin-bottom: 39px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.764706rem;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.764706rem;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.764706rem;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.764706rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 11238px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 5751px;
  }

  .u-section-3 .u-image-1 {
    min-height: 1099px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 1099px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    min-height: 1099px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    min-height: 1099px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-9 {
    min-height: 1099px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-11 {
    width: 320px;
    height: 638px;
    margin-top: -11385px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 340px);
  }

  .u-section-3 .u-line-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 84px);
  }

  .u-section-3 .u-layout-wrap-2 {
    min-height: 0;
    margin-top: 10084px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 2384px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 4334px;
  }

  .u-section-3 .u-image-1 {
    min-height: 569px;
  }

  .u-section-3 .u-image-3 {
    min-height: 692px;
  }

  .u-section-3 .u-image-5 {
    min-height: 692px;
  }

  .u-section-3 .u-image-7 {
    min-height: 692px;
  }

  .u-section-3 .u-image-9 {
    min-height: 692px;
  }

  .u-section-3 .u-image-11 {
    width: 207px;
    height: 563px;
    margin-top: -7623px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 6693px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  min-height: 50vw;
}

.u-section-4 .u-image-1 {
  width: 369px;
  height: 423px;
  margin: -66px 0 0 auto;
}

.u-section-4 .u-group-1 {
  width: 772px;
  min-height: 180px;
  margin: -332px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-family: earthorbiter;
  margin: 36px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,199,255,0.4);
  margin: 20px 0 0;
}

.u-section-4 .u-line-1 {
  width: 690px;
  height: 11px;
  transform-origin: left center 0px;
  border-style: dotted;
  margin: 20px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 884px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-layout-cell-1 {
  min-height: 457px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-4 .u-icon-1 {
  height: 58px;
  width: 58px;
  margin: 8px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.23529rem;
  margin: 31px 30px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 457px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 30px;
}

.u-section-4 .u-icon-2 {
  height: 58px;
  width: 58px;
  margin: 8px auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.23529rem;
  margin: 31px 30px 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 457px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 30px;
}

.u-section-4 .u-icon-3 {
  height: 58px;
  width: 58px;
  margin: 8px auto 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.23529rem;
  margin: 31px 30px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: -109px calc(((100% - 1140px) / 2)) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 728px;
  }

  .u-section-4 .u-image-1 {
    width: 261px;
    height: 307px;
    object-position: 0% 50%;
    background-position: 0% 50%;
    margin-top: -48px;
  }

  .u-section-4 .u-group-1 {
    width: 637px;
    min-height: 156px;
    margin-top: -259px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.88235rem;
  }

  .u-section-4 .u-line-1 {
    width: 575px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0;
  }

  .u-section-4 .u-icon-1 {
    height: 73px;
    width: 73px;
    margin-top: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: -25px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0;
  }

  .u-section-4 .u-icon-2 {
    height: 73px;
    width: 73px;
    margin-top: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: -25px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 425px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-4 .u-icon-3 {
    height: 72px;
    width: 72px;
    margin-top: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 42px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 642px;
  }

  .u-section-4 .u-image-1 {
    width: 190px;
    height: 227px;
    margin-top: -40px;
  }

  .u-section-4 .u-group-1 {
    width: 488px;
    min-height: 145px;
    margin-top: -186px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.52941rem;
  }

  .u-section-4 .u-line-1 {
    width: 471px;
    margin-right: -9px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 0;
  }

  .u-section-4 .u-icon-1 {
    height: 61px;
    width: 61px;
    margin-top: 15px;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.882353rem;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 0;
  }

  .u-section-4 .u-icon-2 {
    height: 57px;
    width: 57px;
    margin-top: 19px;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.882353rem;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-icon-3 {
    height: 59px;
    width: 59px;
    margin-top: 17px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 31px;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    font-size: 0.882353rem;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 886px;
  }

  .u-section-4 .u-image-1 {
    width: 248px;
    height: 307px;
    object-position: 3.86% 50%;
    background-position: 3.86% 50%;
    margin-top: -48px;
  }

  .u-section-4 .u-group-1 {
    width: 457px;
    margin-top: -332px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-line-1 {
    width: 520px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 677px;
    margin-bottom: 40px;
    width: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-4 .u-icon-1 {
    height: 34px;
    width: 34px;
    margin-top: 8px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 14px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 14px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 14px;
  }

  .u-section-4 .u-icon-2 {
    height: 34px;
    width: 34px;
    margin-top: 8px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 14px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 14px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-4 .u-icon-3 {
    height: 34px;
    width: 34px;
    margin-top: 200px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -76px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 374px;
  }

  .u-section-4 .u-image-1 {
    width: 259px;
    height: 595px;
    object-position: 0% 50%;
    background-position: 0% 50%;
    margin-top: -172px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    font-weight: 600;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-4 .u-line-1 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 134px;
    width: 340px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-icon-1 {
    height: 69px;
    width: 69px;
    margin-top: 22px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-bottom: 22px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-icon-2 {
    height: 69px;
    width: 69px;
    margin-top: 22px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-bottom: 22px;
  }

  .u-section-4 .u-icon-3 {
    height: 69px;
    width: 69px;
    margin-top: 316px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -227px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-5 {
  background-image: url("images/bggradient4.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 405px;
}

.u-section-5 .u-group-1 {
  width: 824px;
  min-height: 287px;
  animation-duration: 1000ms;
  margin: 24px 0 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-5 .u-icon-1 {
  height: 104px;
  width: 104px;
  background-image: none;
  margin: 10px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-family: earthorbiter;
  font-style: italic;
  margin: -57px 0 0 114px;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-5 .u-group-1 {
    width: 663px;
    min-height: 260px;
    margin-top: 25px;
    margin-bottom: 27px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-icon-1 {
    height: 86px;
    width: 86px;
    margin-top: 35px;
    margin-left: 17px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.23529rem;
    width: auto;
    margin-top: -48px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-5 .u-group-1 {
    width: 525px;
    min-height: 209px;
    margin-top: 0;
    margin-right: 1px;
    margin-bottom: 40px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-icon-1 {
    height: 66px;
    width: 66px;
    margin-top: 24px;
    margin-left: 26px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.76471rem;
    margin-top: -39px;
    margin-right: -12px;
    margin-left: 109px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-left: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-5 .u-group-1 {
    width: 476px;
    margin-right: 300px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-icon-1 {
    height: 62px;
    width: 62px;
    margin-right: 313px;
    margin-left: 17px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -48px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 118px;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-icon-1 {
    height: 52px;
    width: 52px;
    margin-right: 197px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-left: 17px;
    margin-right: 197px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 197px;
    margin-left: 17px;
  }
}.u-section-6 {
  background-image: url("images/bggradient3.jpg");
  min-height: 50vw;
}

.u-section-6 .u-icon-1 {
  height: 529px;
  width: calc(((100% - 1140px) / 2) + 449px);
  animation-duration: 5000ms;
  background-image: none;
  margin: 1px auto 0 0;
}

.u-section-6 .u-icon-2 {
  height: 333px;
  width: 332px;
  margin: -530px 0 0 auto;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -332px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  background-image: none;
  min-height: 651px;
}

.u-section-6 .u-shape-1 {
  width: 279px;
  height: 141px;
  background-image: none;
  margin: 494px 0 0 auto;
}

.u-section-6 .u-image-1 {
  width: 295px;
  height: 444px;
  animation-duration: 1000ms;
  margin: -468px 0 0 auto;
}

.u-section-6 .u-shape-2 {
  background-image: none;
  margin: -444px 0 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 651px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 460px;
  width: 460px;
  animation-duration: 1000ms;
  color: rgb(51, 51, 51) !important;
  margin: 188px -241px 0 auto;
}

.u-section-6 .u-shape-3 {
  width: 313px;
  height: 161px;
  background-image: none;
  margin: -310px -59px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 327px;
  height: 476px;
  animation-duration: 1000ms;
  margin: -502px -59px 0 auto;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 651px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 33px;
}

.u-section-6 .u-text-1 {
  font-size: 1.88235rem;
  text-shadow: 2px 2px 8px rgba(0,199,255,0.4);
  margin: 52px 0 0 21px;
}

.u-section-6 .u-line-1 {
  height: 16px;
  transform-origin: left center 0px;
  border-style: dotted;
  width: 408px;
  margin: 10px 2px 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 13px 0 0 8px;
}

.u-section-6 .u-image-3 {
  width: 405px;
  height: 607px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  margin: -1113px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 506px;
  }

  .u-section-6 .u-icon-1 {
    height: 398px;
    width: calc(((100% - 940px) / 2) + 312px);
    margin-top: 0;
  }

  .u-section-6 .u-icon-2 {
    height: 293px;
    width: 294px;
    margin-top: -398px;
    margin-right: calc(((100% - 940px) / 2) + -76px);
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -733px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 999px;
  }

  .u-section-6 .u-shape-1 {
    height: 86px;
    width: 221px;
    margin-top: 838px;
  }

  .u-section-6 .u-image-1 {
    height: 355px;
    width: 236px;
    margin-top: -373px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: -241px;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 999px;
  }

  .u-section-6 .u-icon-3 {
    height: 362px;
    width: 362px;
    margin-top: 570px;
    margin-right: -140px;
  }

  .u-section-6 .u-shape-3 {
    width: 239px;
    height: 114px;
    margin-top: -224px;
    margin-right: -23px;
  }

  .u-section-6 .u-image-2 {
    width: 264px;
    height: 385px;
    margin-top: -399px;
    margin-right: -23px;
    margin-left: -23px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 950px;
  }

  .u-section-6 .u-container-layout-3 {
    padding: 0 0 0 1px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.52941rem;
    width: auto;
    margin-top: 481px;
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-6 .u-line-1 {
    width: 343px;
    margin-top: 13px;
    margin-right: 0;
    margin-left: 32px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    width: 344px;
    height: 529px;
    margin-top: -971px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 700px;
  }

  .u-section-6 .u-icon-1 {
    height: 369px;
    width: 337px;
    margin-top: 136px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: auto;
  }

  .u-section-6 .u-icon-2 {
    height: 334px;
    width: calc(((100% - 720px) / 2) + 286px);
    margin-top: -131px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -708px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-6 .u-shape-1 {
    height: 104px;
    width: 246px;
    margin-top: 301px;
    margin-right: -303px;
  }

  .u-section-6 .u-image-1 {
    height: 377px;
    width: 250px;
    margin-top: -390px;
    margin-right: -293px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 5px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 532px;
  }

  .u-section-6 .u-icon-3 {
    height: 414px;
    width: 414px;
    margin-top: -30px;
    margin-right: auto;
    margin-left: -444px;
  }

  .u-section-6 .u-shape-3 {
    width: 255px;
    height: 102px;
    margin-top: -10px;
    margin-right: auto;
    margin-left: -342px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -395px;
    margin-right: auto;
    margin-left: -360px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -54px;
    margin-left: 1px;
  }

  .u-section-6 .u-line-1 {
    transform-origin: right center 0px;
    width: 324px;
    margin-top: 10px;
    margin-right: 1px;
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 211px;
  }

  .u-section-6 .u-image-3 {
    width: 277px;
    height: 388px;
    margin-top: -942px;
    margin-left: calc(((100% - 720px) / 2) + -98px);
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 3100px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-icon-2 {
    width: calc(((100% - 540px) / 2) + 286px);
    margin-top: 2430px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -3133px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 668px;
  }

  .u-section-6 .u-shape-1 {
    width: 221px;
  }

  .u-section-6 .u-image-1 {
    height: 376px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 6px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 2601px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-shape-3 {
    margin-top: 1933px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -2491px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-line-1 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 31px;
  }

  .u-section-6 .u-image-3 {
    height: 429px;
    margin-top: -952px;
    margin-bottom: 46px;
    margin-left: calc(((100% - 540px) / 2) + -98px);
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 2273px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-icon-2 {
    width: calc(((100% - 340px) / 2) + 286px);
    margin-top: 1283px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1915px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 1657px;
  }

  .u-section-6 .u-shape-3 {
    margin-top: 990px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -1548px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -12px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    margin-bottom: 60px;
    margin-left: calc(((100% - 340px) / 2) + -98px);
  }
}.u-section-7 {
  background-image: none;
  min-height: 799px;
}

.u-section-7 .u-group-1 {
  width: 772px;
  min-height: 167px;
  margin: -4px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  font-family: earthorbiter;
  font-weight: normal;
  margin: 36px 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,199,255,0.4);
  margin: 20px 0 0;
}

.u-section-7 .u-line-1 {
  width: 501px;
  height: 11px;
  transform-origin: left center 0px;
  border-style: dotted;
  margin: 20px auto 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 557px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 7px 30px 7px 78px;
}

.u-section-7 .u-icon-1 {
  height: 540px;
  width: 540px;
  margin: 0 1px 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 3.75rem;
  font-family: arcade;
  text-transform: none;
  margin: -374px 1px 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 18px 1px 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 5px 0px 0 rgba(41,46,51,0.4);
  margin: 48px auto 0;
  padding: 18px 65px 19px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 557px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 4px 81px 0 30px;
}

.u-section-7 .u-icon-2 {
  height: 553px;
  width: 553px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 3.75rem;
  font-family: arcade;
  text-transform: none;
  margin: -383px 0 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 5px 0px 0 rgba(114,104,63,0.4);
  margin: 46px auto 0;
  padding: 18px 65px 19px;
}

.u-section-7 .u-image-1 {
  width: 500px;
  height: 668px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -1102px 0 0 auto;
}

.u-section-7 .u-shape-1 {
  width: 1090px;
  height: 5px;
  background-image: linear-gradient(to right, #5f0e70, #fe018e);
  box-shadow: 5px 5px 20px 0 rgba(0,199,255,0.4);
  margin: 471px auto 36px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 712px;
  }

  .u-section-7 .u-group-1 {
    width: 940px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-7 .u-line-1 {
    width: 451px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 11px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 52px;
  }

  .u-section-7 .u-icon-1 {
    height: 460px;
    width: 460px;
    margin-top: 7px;
    margin-right: auto;
    margin-left: -22px;
  }

  .u-section-7 .u-text-3 {
    font-size: 2.64706rem;
    width: auto;
    margin-top: -303px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 39px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 0;
    padding-right: 48px;
  }

  .u-section-7 .u-icon-2 {
    height: 460px;
    width: 460px;
    color: rgb(255, 255, 255) !important;
    margin-top: 7px;
  }

  .u-section-7 .u-text-5 {
    font-size: 2.64706rem;
    width: auto;
    margin-top: -303px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 39px;
    margin-left: 64px;
  }

  .u-section-7 .u-image-1 {
    width: 363px;
    height: 407px;
    margin-top: -766px;
  }

  .u-section-7 .u-shape-1 {
    width: 940px;
    margin-top: 390px;
    margin-bottom: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 607px;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
    margin-top: 15px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 4px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-icon-1 {
    height: 373px;
    width: 373px;
    margin-left: -45px;
  }

  .u-section-7 .u-text-3 {
    font-size: 2.35294rem;
    margin-top: -282px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 20px;
    padding-right: 37px;
    padding-left: 36px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 52px;
    padding-bottom: 30px;
  }

  .u-section-7 .u-icon-2 {
    height: 363px;
    width: 363px;
    margin-right: -35px;
  }

  .u-section-7 .u-text-5 {
    font-size: 2.35294rem;
    margin-top: -272px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 20px;
    margin-left: auto;
    padding-right: 37px;
    padding-left: 36px;
  }

  .u-section-7 .u-image-1 {
    width: 215px;
    height: 259px;
    margin-top: -593px;
  }

  .u-section-7 .u-shape-1 {
    width: 720px;
    margin-top: 354px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 635px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-line-1 {
    width: 500px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: -135px;
    margin-left: calc(((100% - 540px) / 2) + -110px);
  }

  .u-section-7 .u-text-5 {
    margin-top: -266px;
  }

  .u-section-7 .u-image-1 {
    height: 242px;
    margin-top: -938px;
    margin-right: calc(((100% - 1140px) / 2) + -18px);
  }

  .u-section-7 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 289px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-line-1 {
    width: 300px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 16px;
  }

  .u-section-7 .u-icon-1 {
    height: 320px;
    width: 320px;
    margin-top: -175px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -125px;
  }

  .u-section-7 .u-icon-2 {
    height: 401px;
    width: 401px;
    margin-top: -177px;
    margin-left: calc(((100% - 340px) / 2) + -110px);
  }

  .u-section-7 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -224px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 381px;
    margin-top: -963px;
    margin-right: calc(((100% - 1140px) / 2) + 82px);
  }

  .u-section-7 .u-shape-1 {
    width: 340px;
  }
}@font-face {
  font-family: 'earthorbiter';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/earthorbiter.ttf);
}@font-face {
  font-family: 'arcade';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/arcade.ttf);
}